.Discription {
  margin-left: 10px;
  width: 98%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  @media screen and (max-width: 768px) {
    margin-left: 0px;
    width: 100%;
  }

  @media screen and (max-width: 425px) {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }
  .DisTitle {
    position: relative;
    padding-left: 20px;
    text-align: left;
    height: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #000000;
  }
  .DisDetails {
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 5px;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
  }
}
.Container {
  display: flex;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  gap: 40px;
  @media screen and (max-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    gap: 0px;
  }
}
