$primary-color: #333;
$secondary-color: #999;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;
$spacing-large: 20px;
$spacing-medium: 10px;

.ProjectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $spacing-large;
  padding: $spacing-large;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  @media only screen and (min-width: 768px) {
    flex-direction: column;
  }
  .PcImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spacing-large;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .PcDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .a {
      margin-bottom: $spacing-large;
      .ProName {
        font-size: $font-size-large;
        font-weight: bold;
        margin-bottom: $spacing-medium;
      }
      .ClName {
        font-size: $font-size-medium;
        font-weight: bold;
        margin-bottom: $spacing-medium;
        color: $secondary-color;
      }
      .LocAd {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-medium;

        .Lc {
          font-size: $font-size-small;
          margin-left: $spacing-medium;
          color: $secondary-color;
        }
      }
      .b {
        margin-top: $spacing-large;

        @media only screen and (min-width: 768px) {
          margin-top: 0;
          margin-left: $spacing-large;
        }
      }
    }
  }

  .Cnts {
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;

    color: #000000;
  }
}
