.HallTitle {
  position: relative;
  text-align: start;
  margin-left: 55px;
  margin-top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.HallContains {
  display: flex;

  .HallFrame {
    margin-left: 10px;
    justify-content: space-between;

    display: flex;
    width: 100%;
    @media screen and (max-width: 971px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));

      gap: 0px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 0px;
      display: block;
    }
  }
}
.Dots {
  display: flex;
  justify-content: center;
}
