$spacing-large: 70px;

.AwdCrd {
  margin: $spacing-large;
  padding: $spacing-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .Ad {
    box-sizing: border-box;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .AwdName {
    text-align: center;
    margin-top: 15px;
    height: 18px;
    top: 327px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
  .DataWay {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .Fic {
      display: flex;
      justify-content: space-between;
    }
    .Fico {
      display: flex;
      justify-content: space-between;

      .One {
        padding-left: 5px;
      }
    }
    .Ficoi {
      display: flex;
      justify-content: space-between;
    }
  }
}
