.Award {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .AwdTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;

    div {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    div:last-child {
      margin-left: 1rem;
    }
  }

  .LastBx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .AwardCards {
      @media screen and (min-width: 768px) {
        width: 50%;
        margin: 1rem 0.5rem;
      }

      @media screen and (min-width: 1200px) {
        width: 33.33%;
        margin: 1rem;
      }
    }
  }
}
