.Title {
  position: relative;
  text-align: start;
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.BCard {
  // display: flex;
  // position: relative;
  margin-left: 10px;
  margin-right: 10px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(451px, 2fr));
  @media screen and (max-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    gap: 0px;
  }
}
